@import "tailwindcss";

:root {
  --main-background: #160030;
  --table-background: #eb0d0d;
  --foreground: white;
}

body {
  background: var(--main-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button, a { cursor: pointer; }